<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link rel="stylesheet" href="css/blog.css" />
  </head>
  <body>
    <div class="blog-template">
      <div class="container">
        <div class="media mt-5">
          <a href="blog-post.html">
            <img
              class="mr-3"
              src="images/sample-image.png"
              alt="image"
              width="200"
            />
          </a>
          <div class="media-body">
            <a href="blog-post.html"><h5 class="mt-0">BLOG POST HEADING</h5></a>
            <p>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              Donec lacinia congue felis in faucibus.
            </p>
          </div>
        </div>
        <div class="blog_info mt-2">
          <a href="#"><i class="fas fa-user"></i>&nbsp;admin</a
          >&nbsp;&nbsp;&nbsp;
          <a href="#"><i class="fas fa-calendar"></i>&nbsp;August 9</a
          >&nbsp;&nbsp;&nbsp;
          <a href="#"><i class="fas fa-folder"></i>&nbsp;Career</a
          >&nbsp;&nbsp;&nbsp;
          <a href="blog-post.html" class="read_more">Read more</a>
        </div>

        <div class="media mt-5">
          <a href="blog-post.html">
            <img
              class="mr-3"
              src="images/sample-image.png"
              alt="image"
              width="200"
            />
          </a>
          <div class="media-body">
            <a href="blog-post.html"><h5 class="mt-0">BLOG POST HEADING</h5></a>
            <p>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
          </div>
        </div>
        <div class="blog_info mt-2">
          <a href="#"><i class="fas fa-user"></i>&nbsp;admin</a
          >&nbsp;&nbsp;&nbsp;
          <a href="#"><i class="fas fa-calendar"></i>&nbsp;August 9</a
          >&nbsp;&nbsp;&nbsp;
          <a href="#"><i class="fas fa-folder"></i>&nbsp;Career</a
          >&nbsp;&nbsp;&nbsp;
          <a href="blog-post.html" class="read_more">Read more</a>
        </div>

        <div class="media mt-5">
          <a href="blog-post.html">
            <img
              class="mr-3"
              src="images/sample-image.png"
              alt="image"
              width="200"
            />
          </a>
          <div class="media-body">
            <a href="blog-post.html"><h5 class="mt-0">BLOG POST HEADING</h5></a>
            <p>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
          </div>
        </div>
        <div class="blog_info mt-2">
          <a href="#"><i class="fas fa-user"></i>&nbsp;admin</a
          >&nbsp;&nbsp;&nbsp;
          <a href="#"><i class="fas fa-calendar"></i>&nbsp;August 9</a
          >&nbsp;&nbsp;&nbsp;
          <a href="#"><i class="fas fa-folder"></i>&nbsp;Career</a
          >&nbsp;&nbsp;&nbsp;
          <a href="blog-post.html" class="read_more">Read more</a>
        </div>

        <div class="media mt-5">
          <a href="blog-post.html">
            <img
              class="mr-3"
              src="images/sample-image.png"
              alt="image"
              width="200"
            />
          </a>
          <div class="media-body">
            <a href="blog-post.html"><h5 class="mt-0">BLOG POST HEADING</h5></a>
            <p>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
              scelerisque ante sollicitudin. Cras purus odio, vestibulum in
              vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
          </div>
        </div>
        <div class="blog_info mt-2">
          <a href="#"><i class="fas fa-user"></i>&nbsp;admin</a
          >&nbsp;&nbsp;&nbsp;
          <a href="#"><i class="fas fa-calendar"></i>&nbsp;August 9</a
          >&nbsp;&nbsp;&nbsp;
          <a href="#"><i class="fas fa-folder"></i>&nbsp;Career</a
          >&nbsp;&nbsp;&nbsp;
          <a href="blog-post.html" class="read_more">Read more</a>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
